<div class="card mt-4 col-9">
    <div class="container">
        <h3><%= @community.name%></h3>
            <br/>
        <%= simple_format @community.url %>
        <%= simple_format @community.rules%>
    </div>
</div>